<%= stylesheet_link_tag 'home' %>

<!-- <p class="header"> Making it easy to be productive. Whenever, wherever. </p>
 -->

<!-- <div id="box" style="display: inline-block;">
  <div id="underbox">
    <h3>COMMUNITY</h3>
    <p> Support your local community <br>
    and get a local workspace. </p>
  </div>
</div>

<div id="box" style="display: inline-block;">
  <div id="underbox">
    <h3>FLEXIBILITY</h3>
    <p> Dont wan't to go to the office today?
    	<br> Is FedEx a far drive?
      Need a mental <br> break? Find a local place <br> to get all your work done.   </p>
  </div>
</div>

<div id="box" style="display: inline-block;">
  <div id="underbox">
    <h3>PRODUCTIVITY</h3>
    <p> It has been proven that <br> workplace comfort affects important predictors <br> of operational efficiency <br> job satisfaction, <br> well-being, and <br> worker health.</p>
  </div>
</div>   -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:900i" rel="stylesheet">
<!-- 
<div class="homecontainer">
   <div class="column-center">COMMUNITY <br> 
    <p class="community"> 
      Support your local economy. 
   </p> </div>
   <div class="column-left">FLEXIBILITY <br> 
    <p class="flexibility">
      

    </p>

   </div>
   <div class="column-right">PRODUCTIVITY</div>
</div> -->


<body>
  <div class="moveit">
  <section class="blank-space"></section>
  <section class="asymmetric">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, magna tellus, ultricies etphasellus tincidunt elit nec. Ornare sollicitudin sapien non, dignissim metus wisi pharetra sollicitudin, sem integer. Nibh sem et amet, ultrices ac interdum, nec enim lorem elit commodo dolor, aliquam ipsum eget ornare nullam, iaculis porttitor. Quisque sint, lobortis rutrum est nonummy, potenti quam quam molestie pede porta. Sem ante dis dui wisi suscipit, eu vitae odio integer, congue velit lectus aliquet luctus bibendum, et facilisis, laoreet ad</p>
  </section>
  <section class="blank-space"></section>
</div>
</body>

<body>
  <div class="moveit">
  <section class="blank-space"></section>
  <section class="asymmetric">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, magna tellus, ultricies etphasellus tincidunt elit nec. Ornare sollicitudin sapien non, dignissim metus wisi pharetra sollicitudin, sem integer. Nibh sem et amet, ultrices ac interdum, nec enim lorem elit commodo dolor, aliquam ipsum eget ornare nullam, iaculis porttitor. Quisque sint, lobortis rutrum est nonummy, potenti quam quam molestie pede porta. Sem ante dis dui wisi suscipit, eu vitae odio integer, congue velit lectus aliquet luctus bibendum, et facilisis, laoreet ad</p>
  </section>
  <section class="blank-space"></section>
</div>
</body>

<body>
  <div class="moveit">
  <section class="blank-space"></section>
  <section class="asymmetric">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, magna tellus, ultricies etphasellus tincidunt elit nec. Ornare sollicitudin sapien non, dignissim metus wisi pharetra sollicitudin, sem integer. Nibh sem et amet, ultrices ac interdum, nec enim lorem elit commodo dolor, aliquam ipsum eget ornare nullam, iaculis porttitor. Quisque sint, lobortis rutrum est nonummy, potenti quam quam molestie pede porta. Sem ante dis dui wisi suscipit, eu vitae odio integer, congue velit lectus aliquet luctus bibendum, et facilisis, laoreet ad</p>
  </section>
  <section class="blank-space"></section>
</div>
</body>

<% unless current_user %>
  
  <%= link_to "Become A Host", new_user_registration_path, :class => "btn btn-primary" %>

<% end %>


<br>


