<div class="row">

	<div class="col-md-9">
		<div id="pricing-div" class="panel panel-default">

			<div class="panel-heading">
				Pricing
			</div>

			<div class="panel-body">
				<div>		
					<%= render 'room_menu' %>
				</div>
				<div id="pricing-container" class="container">
					<%= form_for @room do |f| %>


							<div class="form-group">
								<label>Price</label>
								<%= f.text_field :price, placeholder: "e.g. $12", class: "form-control", required: true %>
							</div>

						<div class="text-center">
							<%= f.submit "Save", id: "pricing-save", class: "btn btn-form" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
