<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			Listings
		</div>
		<div class="panel-body">

			<% @rooms.each do |room| %>
				<div class="row">
					<div class="col-md-2">
						<%= image_tag room.cover_photo(:thumb) %>
					</div>
					<div class="col-md-7">
						<h4><%= room.listing_name %></h4>
					</div>
					<div class="colo-md-3 right">
						<%= link_to "Update", update_rooms_path(room), class: "btn btn-form" %>
					</div>
				</div>
				<hr>
			<% end %>
		</div>
	</div>
</div>
