@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
.avatar-small {
	width: 28px;
}

.avatar-small {
	width: 48px;
}

.avatar-small {
	width: 68px;
}

.avatar-small {
	width: 100%;
}
