body {

	background: url("rami.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@import "bourbon";
@import "font-awesome";


div {
	text-align: center;
	font-size: 20px;
	color: white;
}

.header {
	font-size: 20px;
	color: #A79AB2;
  font-weight: bold;
}
#box {
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #A79AB2;
  box-shadow: inset 0px 0px 3px 9px rgba(black, 0.3);
  position: relative;
  border-radius: 9%;
  opacity: .8;
}

#underbox {
  border-radius: 50%;
  background: rgba(black, 0);
  height: inherit;
  width: inherit;
  transition: all 1s ease;
  position: absolute;
}




.btn {
	color: white;
	background-color: #73C1C6;
  border: none;
}

p {
	font-size: 10px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}


