body {

	background: url("livingroom.jpg");
	background-size: 900px 700px;

}

@import "bourbon";



div {
	text-align: center;
	font-size: 20px;
	color: white;
}

.header {
	font-size: 30px;
	color: #4A5062;
	opacity: 0.5;
}
#box {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  box-shadow: inset 0px 0px 3px 9px rgba(black, 0.3);
  position: relative;
  opacity: 0.5;
}

#underbox {
  border-radius: 50%;
  background: rgba(black, 0);
  height: inherit;
  width: inherit;
  transition: all 1s ease;
  position: absolute;
}

#underbox h3, #underbox p {
  transform: scale(0);
  opacity: 0;
  transition: all 0.6s ease;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgba(black, 0.5);
}

#underbox:hover {
    background: rgba(black, 0.5);
}

#underbox:hover h3, #underbox:hover p {
  transform: scale(1);
  opacity: 1;
}

#underbox h3 {
   margin-top: 65px; 
}

#box:hover #underbox {
    box-shadow: inset 0px 0px 0px 0px rgba(black, 0.3);
}



.btn {
	color: white;
	opacity: .9;
	background-color: #566DA0;
}

p {
	font-size: 9px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}
