body {

	background: url("livingroom.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@import "bourbon";



div {
	text-align: center;
	font-size: 20px;
	color: white;
}

.header {
	font-size: 30px;
	color: #566DA0;
	opacity: 0.8;
}
#box {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  box-shadow: inset 0px 0px 3px 9px rgba(black, 0.3);
  position: relative;
  opacity: 0.5;
}

#underbox {
  border-radius: 50%;
  background: rgba(black, 0);
  height: inherit;
  width: inherit;
  transition: all 1s ease;
  position: absolute;
}




.btn {
	color: white;
	opacity: .9;
	background-color: #566DA0;
}

p {
	font-size: 10px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}
